# Dependências
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de build e distribuição
/dist
/build

# Logs
logs
*.log 
# Arquivos do servidor Node (não necessários para GitHub Pages)
server.js
package.json
